.input-group{
    position: relative;
}

.input{
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #fff;
    background-color: transparent;
    outline: 2px solid black;
}

.input-label{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: transform .25s;
}

.input:focus+.input-label,.input:valid+.input-label{
    transform: translate(10px,-14px) scale(.8);
    color: #d1c5fc;
    padding-inline: 5px;
    background-color: #242329;
}

.input:is(:focus,:valid){
    outline-color: blue;
}

.hover {
    --s: 0.1em; /* the thickness of the line */
  
    --c: #1095c1; /* any color */
  
    color: #0000;
  
    padding-bottom: var(--s);
  
    background: linear-gradient(90deg, var(--c) 50%, #000 0)
        calc(100% - var(--_p, 0%)) / 200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  
    -webkit-background-clip: text, padding-box;
  
    background-clip: text, padding-box;
  
    transition: 0.5s;
  }
  
  .hover:hover {
    --_p: 100%;
  }
  .hover-1 {
    line-height: 1.2em;
    color: #0000;
    text-shadow: 0 0 #000, 0 1.5em #1095c1;
    overflow: hidden;
    transition: 0.3s;
  }
  .hover-1:hover {
    text-shadow: 0 -1.5em #000, 0 0 #1095c1;
  }
  

/* overlay from center */
.hvr-overlay-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-overlay-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 51%;
    bottom: 51%;
    /* bottom: 0; */
    right: 0;
    left: 0;
    background: linear-gradient(to top, #1095c1 0%, #1095c1 100%);
    /* height: 4px; */
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-overlay-from-center:hover:before,
.hvr-overlay-from-center:focus:before,
.hvr-overlay-from-center:active:before {
    top: 0;
    bottom: 0;
}